@font-face {
  font-family: 'Montserrat SemiBold';
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype"), url("Montserrat-SemiBold.svg#Montserrat-SemiBold") format("svg"); }

@font-face {
  font-family: 'Montserrat Bold';
  src: url("../fonts/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold; }

@font-face {
  font-family: 'Montserrat Regular';
  src: url("../fonts/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype"), url("../fonts/Montserrat-Medium.svg#Montserrat-Medium") format("svg"); }

a {
  text-decoration: none;
  color: white; }
  a:hover {
    color: white;
    text-decoration: none; }

* {
  outline: none !important; }

.line {
  content: ' ';
  width: 100px;
  height: 2px;
  background-color: #f9ad4a; }

#menu__toggle {
  opacity: 0; }

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg); }

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0); }

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg); }

#menu__toggle:checked ~ .header-navbar {
  visibility: visible;
  right: 0; }

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 100; }

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #f9ad4a;
  transition-duration: .25s; }

.menu__btn > span::before {
  content: '';
  top: -8px; }

.menu__btn > span::after {
  content: '';
  top: 3px;
  transform: translateY(5px); }

.header {
  background: url("../img/header-bg.jpg"), #222222 50% 50% no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px; }
  .header-logo {
    margin-top: 20px; }
    .header-logo a, .header-logo h1 {
      font-family: "Montserrat Regular";
      margin: 10px 0px -1px 0px;
      font-size: 16px;
      line-height: 1.2;
      letter-spacing: 3px;
      color: #8d8d8d;
      -webkit-transition: 0.5s;
        -webkit-transition-transition: 0.5s; }
      .header-logo a:hover, .header-logo h1:hover {
        color: #ffffff;
        -webkit-transition: 0.5s;
        transition: 0.5s; }
    .header-logo .line {
      margin: 0 auto;
      width: 150px;
      height: 3px; }
  .header-navbar {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    z-index: 20;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #222222;
    transition-duration: .25s; }
    .header-navbar li, .header-navbar a {
      display: block;
      padding: 12px 24px;
      color: #8d8d8d;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
      transition-duration: .25s;
      font-family: "Montserrat Regular"; }
      .header-navbar li:hover, .header-navbar a:hover {
        color: #ffffff;
        -webkit-transition: 0.3s;
        transition: 0.3s; }
    .header-navbar__phone {
      border: 1px solid #8d8d8d;
      padding: 1px 10px;
      border-radius: 10px;
      margin-top: -2px; }
  .header-title {
    margin-top: 160px;
    line-height: 82px; }
    .header-title p {
      font-family: "Montserrat Regular";
      color: #ffffff;
      font-size: 72px;
      letter-spacing: 2px; }
  .header-btn {
    margin-top: 60px; }
    .header-btn button {
      font-family: "Montserrat Regular";
      letter-spacing: 1px;
      font-size: 16px;
      width: 200px;
      height: 45px;
      background-color: #f9ad4a;
      color: #222222;
      border: none;
      -webkit-transform: .5s;
      transition-duration: .5s;
      outline: 0 !important; }
      .header-btn button:active {
        transform: translateY(3px); }
      .header-btn button:focus {
        outline: none; }
      .header-btn button:hover {
        background-color: #ffffff;
        -webkit-transform: .5s;
        transition-duration: .5s; }
    .header-btn img {
      margin-left: 10px;
      width: 15%; }

.information {
  background-color: #f8f8f8; }
  .information-title {
    margin: 50px 0px 0px 0px;
    font-size: 29px;
    font-family: "Montserrat Bold";
    letter-spacing: 1px; }
  .information-text {
    margin-top: 50px;
    text-align: justify;
    font-size: 16px;
    margin-bottom: 50px;
    font-family: "Montserrat Regular";
    color: #8d8d8d;
    line-height: 1.5;
    letter-spacing: 1.2px; }
  .information .line {
    width: 200px;
    height: 3px; }

.advantaged {
  background-color: #222222;
  min-height: 1000px;
  width: 100%;
  color: #ffffff; }
  .advantaged-title {
    font-size: 32px;
    font-family: "Montserrat Bold";
    color: #ffffff;
    text-align: center;
    margin: 50px 0px 10px 0px; }
  .advantaged-item, .advantaged-item-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 25px 0px;
    text-align: left; }
    .advantaged-item-2, .advantaged-item-2-2 {
      flex-direction: row-reverse;
      text-align: right; }
    .advantaged-item img, .advantaged-item-2 img {
      display: inline;
      max-width: 555px;
      width: 98%; }
    .advantaged-item__text p, .advantaged-item-2__text p {
      font-size: 16px;
      font-family: "Montserrat Regular";
      color: #ffffff;
      letter-spacing: 1.2px; }
    .advantaged-item__text h2, .advantaged-item-2__text h2 {
      font-family: "Montserrat Bold";
      letter-spacing: 2px;
      margin-bottom: 30px; }

.jhl {
  height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/jhl1969.jpg"); }
  .jhl-block {
    background-color: rgba(34, 34, 34, 0.7);
    width: 100%;
    max-width: 500px;
    height: 350px;
    margin: 50px auto 0px auto; }
  .jhl-title {
    text-align: center;
    padding-top: 20px;
    font-family: "Montserrat Bold";
    color: #ffffff; }
  .jhl-item {
    padding: 30px;
    font-family: "Montserrat Regular";
    color: #ffffff;
    letter-spacing: 1.2px;
    font-size: 16px; }

.jhlpay {
  height: 500px; }
  .jhlpay-title h2 {
    font-size: 32px;
    font-family: "Montserrat Bold";
    color: #222222;
    line-height: 2.47;
    margin-top: 30px; }
  .jhlpay-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    font-family: "Montserrat Regular";
    color: #8d8d8d; }
    .jhlpay-flex img {
      max-width: 400px;
      width: 100%;
      margin-bottom: 20px; }
    .jhlpay-flex h2 {
      font-size: 32px; }
    .jhlpay-flex p {
      line-height: 1.5;
      letter-spacing: 1px; }
    .jhlpay-flex h3 {
      text-align: left;
      font-family: "Montserrat Regular";
      margin: 20px 0 40px 0px; }
    .jhlpay-flex span {
      font-weight: 600; }
    .jhlpay-flex__button {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-bottom: 50px;
      outline: none !important; }
    .jhlpay-flex button {
      text-align: center;
      width: 230px;
      height: 50px;
      border: 2px solid #8d8d8d; }

.acoustics {
  background-color: #222222;
  min-height: 1000px;
  width: 100%; }

@media only screen and (min-width: 1025px) {
  .advantaged-item__text {
    margin-top: 80px; } }

@media only screen and (max-width: 1023px) {
  .advantaged-item__text p {
    letter-spacing: 0.8px; }
  .header-title p {
    font-size: 52px; } }

@media only screen and (max-width: 767px) {
  .advantaged-item__text {
    text-align: left; } }

@media only screen and (max-width: 426px) {
  .header {
    max-height: 450px; }
  .header-title p {
    font-size: 28px; }
  .header-title {
    line-height: 35px;
    margin-top: 45px; }
  .header-btn button {
    margin: 0 auto;
    display: block;
    font-size: 14px; }
  .information-title {
    font-size: 24px; }
  .information-text {
    margin-top: 10px;
    text-align: left;
    font-size: 16px; }
  .advantaged {
    padding-bottom: 15px; }
  .advantaged-item {
    margin: 20px 0px; }
  .advantaged-title {
    text-align: left;
    font-size: 24px;
    line-height: 30px; }
  .advantaged-item__text {
    margin-top: 5px; }
    .advantaged-item__text h2 {
      font-size: 20px;
      margin-bottom: 10px; }
  .jhlpay-flex__button {
    flex-direction: column; }
    .jhlpay-flex__button button {
      margin: 20px auto 0px auto; }
  .jhlpay-title h2 {
    font-size: 28px;
    margin-bottom: 0; }
  .jhlpay-flex h2 {
    font-size: 28px; }
  .jhlpay-flex p {
    margin-bottom: 20px; }
  .jhlpay-flex h3 {
    text-align: center;
    margin: 15px 0; } }
