@font-face {
  font-family: 'Montserrat SemiBold';
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype"), url("Montserrat-SemiBold.svg#Montserrat-SemiBold") format("svg"); }

@font-face {
  font-family: 'Montserrat Bold';
  src: url("../fonts/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold; }

@font-face {
  font-family: 'Montserrat Regular';
  src: url("../fonts/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype"), url("../fonts/Montserrat-Medium.svg#Montserrat-Medium") format("svg"); }

a {
  text-decoration: none;
  color: white; }
  a:hover {
    color: white;
    text-decoration: none; }

.h2-light {
  color: #ffffff; }

.line {
  content: ' ';
  width: 100px;
  height: 2px;
  background-color: #f9ad4a; }

#menu__toggle {
  opacity: 0; }

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg); }

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0); }

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg); }

#menu__toggle:checked ~ .header-navbar {
  visibility: visible;
  right: 0; }

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 100; }

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #f9ad4a;
  transition-duration: .25s; }

.menu__btn > span::before {
  content: '';
  top: -8px; }

.menu__btn > span::after {
  content: '';
  top: 3px;
  transform: translateY(5px); }

.header {
  background: url("../img/header-bg.jpg"), #222222 50% 50% no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh; }
  .header-logo {
    margin-top: 20px; }
    .header-logo a, .header-logo h1 {
      font-family: "Montserrat Regular";
      margin: 10px 0px -1px 0px;
      font-size: 16px;
      line-height: 1.2;
      letter-spacing: 3px;
      color: #8d8d8d;
      -webkit-transition: 0.5s;
        -webkit-transition-transition: 0.5s; }
      .header-logo a:hover, .header-logo h1:hover {
        color: #ffffff;
        -webkit-transition: 0.5s;
        transition: 0.5s; }
    .header-logo .line {
      margin: 0 auto;
      width: 150px;
      height: 3px; }
  .header-navbar {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    z-index: 20;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #222222;
    transition-duration: .25s; }
    .header-navbar li, .header-navbar a {
      display: block;
      padding: 12px 24px;
      color: #8d8d8d;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
      transition-duration: .25s;
      font-family: "Montserrat Regular"; }
      .header-navbar li:hover, .header-navbar a:hover {
        color: #ffffff;
        -webkit-transition: 0.3s;
        transition: 0.3s; }
    .header-navbar__phone {
      border: 1px solid #8d8d8d;
      padding: 1px 10px;
      border-radius: 10px;
      margin-top: -2px; }
  .header-title {
    margin-top: 160px;
    line-height: 70px; }
    .header-title p {
      font-family: "Montserrat Bold";
      color: #ffffff;
      font-size: 58px;
      letter-spacing: 7px; }
      .header-title p span {
        text-transform: uppercase;
        letter-spacing: 2px; }
  .header-btn {
    margin-top: 60px; }
    .header-btn button {
      font-family: "Montserrat Regular";
      letter-spacing: 1px;
      font-size: 16px;
      width: 200px;
      height: 45px;
      background-color: #f9ad4a;
      color: #222222;
      border: none; }
      .header-btn button:active {
        transform: translateY(3px); }
    .header-btn img {
      margin-left: 10px;
      width: 15%; }

.information {
  background-color: #f8f8f8; }
  .information-title {
    margin: 50px 0px 0px 0px;
    font-size: 29px;
    font-family: "Montserrat Bold";
    text-transform: uppercase;
    letter-spacing: 1.2px; }
  .information-text {
    margin-top: 50px;
    text-align: justify;
    font-size: 20px;
    margin-bottom: 50px;
    font-family: "Montserrat Bold";
    color: #8d8d8d;
    line-height: 1.5;
    letter-spacing: 1.2px; }
  .information .line {
    width: 200px;
    height: 3px; }

.advantaged {
  background-color: #222222;
  min-height: 1350px;
  width: 100%;
  color: #ffffff; }
  .advantaged-title {
    font-size: 32px;
    font-family: "Montserrat Bold";
    color: #ffffff;
    text-transform: uppercase;
    line-height: 2.47;
    text-align: center;
    margin-top: 50px;
    margin-bottom: -0px; }
  .advantaged-item, .advantaged-item-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center; }
    .advantaged-item-2, .advantaged-item-2-2 {
      flex-direction: row-reverse; }
    .advantaged-item img, .advantaged-item-2 img {
      display: inline;
      max-width: 555px;
      width: 98%; }
    .advantaged-item__text, .advantaged-item-2__text {
      margin-top: 80px; }
      .advantaged-item__text p, .advantaged-item-2__text p {
        font-size: 16px;
        font-family: "Montserrat Regular";
        color: #ffffff;
        line-height: 1.4; }
      .advantaged-item__text h2, .advantaged-item-2__text h2 {
        font-family: "Montserrat Bold";
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 30px; }

.jhl {
  display: none;
  height: 420px;
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/jhl1969.jpg");
  background-position: 0 50%; }
  .jhl-info {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    width: 800px;
    height: 270px;
    background: linear-gradient(rgba(51, 51, 51, 0.85), rgba(51, 51, 51, 0.85)); }
    .jhl-info h2 {
      text-align: center;
      padding-top: 10px;
      font-size: 34px;
      font-family: "Montserrat Bold";
      color: #8d8d8d;
      text-transform: uppercase; }
    .jhl-info__border {
      width: 750px;
      margin-left: 25px;
      height: 185px;
      border: 2px solid #8d8d8d; }
    .jhl-info__item {
      padding-top: 8px;
      margin-left: -20px; }
    .jhl-info__items {
      font-size: 20px;
      font-family: "Montserrat Bold";
      color: #8d8d8d;
      line-height: 1.6;
      list-style: none; }
  .jhl-button button {
    width: 200px;
    height: 50px;
    background: linear-gradient(rgba(51, 51, 51, 0.85), rgba(51, 51, 51, 0.85));
    border: 2px solid #8d8d8d;
    color: #8d8d8d;
    font-family: "Montserrat Bold";
    font-size: 18px;
    margin-top: 20px; }

.jhlpay {
  height: 500px; }
  .jhlpay-title h2 {
    font-size: 32px;
    font-family: "Montserrat Bold";
    color: #8d8d8d;
    text-transform: uppercase;
    line-height: 2.47;
    margin: 30px 0 30px 0; }
  .jhlpay-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    font-family: "Montserrat Bold";
    color: #8d8d8d; }
    .jhlpay-flex img {
      max-width: 400px;
      width: 100%;
      margin-bottom: 20px; }
    .jhlpay-flex h2 {
      font-size: 32px;
      text-transform: uppercase; }
    .jhlpay-flex p {
      line-height: 1.5;
      letter-spacing: 1.2px; }
    .jhlpay-flex h3 {
      text-align: left;
      font-family: "Montserrat Regular";
      margin: 20px 0 40px 17px; }
    .jhlpay-flex span {
      font-weight: 600; }
    .jhlpay-flex__button {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-bottom: 50px; }
    .jhlpay-flex button {
      text-align: center;
      width: 230px;
      height: 50px;
      border: 2px solid #8d8d8d; }

@media only screen and (max-width: 769px) {
  .t1969 {
    font-size: 28px; }
  .information-title {
    font-size: 18px; }
  .information-text p {
    font-size: 16px; }
  .jhlpay-flex__button {
    flex-direction: column; }
    .jhlpay-flex__button button {
      margin: 20px auto 0px auto; }
  .advantaged {
    text-align: center; }
  -item {
    margin: 10px 0px; }
  .advantaged-title {
    font-size: 24px;
    line-height: 30px; }
  .advantaged-item__text {
    margin-top: 5px; }
    .advantaged-item__text h2 {
      font-size: 20px;
      margin-bottom: 10px; }
  .jhlpay-title h2 {
    font-size: 28px; }
  .jhlpay-flex h2 {
    font-size: 28px; }
  .jhlpay-flex p {
    margin-bottom: 20px; }
  .jhlpay-flex h3 {
    text-align: center;
    margin: 15px 0; } }
