@import "_fonts.sass"

$color-item:      				#f9ad4a
$color-white:     				#ffffff
$color-black:							#222222
$color-general-bg-light: #f8f8f8
$color-text__light:				#8d8d8d

=MontSB()
	font-family: "Montserrat SemiBold" 
=MontB()
	font-family: "Montserrat Bold"
=MontR()
	font-family: "Montserrat Regular"
a
	text-decoration: none
	color: white
	&:hover
		color: white
		text-decoration: none 

*
	outline: none !important


=button-style()
	+MontR
	letter-spacing: 1px
	font-size: 16px 
	width: 200px
	height: 45px
	background-color: $color-item
	color: $color-black
	border: none
	-webkit-transform: .5s
	transition-duration: .5s
	outline: 0 !important
	&:active
		transform: translateY(3px)
	&:focus
		outline: none

.line 
	content: ' '
	width: 100px
	height: 2px
	background-color: $color-item
#menu__toggle 
 opacity: 0
#menu__toggle:checked ~ .menu__btn > span 
 transform: rotate(45deg)
#menu__toggle:checked ~ .menu__btn > span::before 
 top: 0
 transform: rotate(0)
#menu__toggle:checked ~ .menu__btn > span::after 
 top: 0
 transform: rotate(90deg)
#menu__toggle:checked ~ .header-navbar 
 visibility: visible
 right: 0
.menu__btn 
	display: flex
	align-items: center
	position: fixed
	top: 20px
	right: 20px

	width: 26px
	height: 26px

	cursor: pointer
	z-index: 100
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after 
	display: block
	position: absolute

	width: 100%
	height: 2px

	background-color: $color-item

	transition-duration: .25s

.menu__btn > span::before 
	content: ''
	top: -8px

.menu__btn > span::after 
	content: ''
	top: 3px

	transform: translateY(5px)	
////I			Голова сайта
////I		 Родитель .header
////I		

.header 
	background: url('../img/header-bg.jpg'), $color-black 50% 50% no-repeat
	background-size: cover
	width: 100%
	height: 700px
	&-logo
		margin-top: 20px
		a, h1
			+MontR
			margin: 10px 0px -1px 0px
			font-size: 16px
			line-height: 1.2
			letter-spacing: 3px
			color: $color-text__light
			-webkit-transition: 0.5s
    	transition: 0.5s
			&:hover 
				color: $color-white
				-webkit-transition: 0.5s
				transition: 0.5s
		.line
			margin: 0 auto
			width: 150px
			height: 3px
	&-navbar
		display: block
  position: fixed
  visibility: hidden
  top: 0
  right: -100%
  width: 300px
  height: 100%
		z-index: 20
  margin: 0
  padding: 80px 0
  list-style: none
  background-color: $color-black
  transition-duration: .25s
		li, a
			display: block
			padding: 12px 24px

			color: $color-text__light

			font-family: 'Roboto', sans-serif
			font-size: 20px
			font-weight: 600

			text-decoration: none

			transition-duration: .25s
			+MontR
			&:hover
				color: $color-white
				-webkit-transition: 0.3s
				transition: 0.3s
		&__phone
			border: 1px solid $color-text__light
			padding: 1px 10px
			border-radius: 10px
			margin-top: -2px
	&-title 
		margin-top: 160px
		line-height: 82px
		p
			+MontR
			color: $color-white
			font-size: 72px
			letter-spacing: 2px
			
	&-btn
		margin-top: 60px
		button
			+button-style()
			&:hover
				background-color: $color-white
				-webkit-transform: .5s
				transition-duration: .5s
		img
			margin-left: 10px
			width: 15%

////I			Второй блок. Основная информация о магазине
////I		 Родитель .information
////I		

.information
	background-color: $color-general-bg-light
	&-title
		margin: 50px 0px 0px 0px
  font-size: 29px
  +MontB
		letter-spacing: 1px
	&-text
		margin-top: 50px
		text-align: justify
  font-size: 16px
		margin-bottom: 50px
  +MontR
		color: $color-text__light
  line-height: 1.5
		letter-spacing: 1.2px
	.line
			width: 200px
			height: 3px

////I			Блок преимуществ усилителя JHL 1969
////I		 Родитель .advantaged
////I		

.advantaged 
	background-color: $color-black
	min-height: 1000px
	width: 100%
	color: $color-white
	&-title
  font-size: 32px
  +MontB
  color: $color-white
		text-align: center
		margin: 50px 0px 10px 0px
	&-item, &-item-2
		display: flex
		flex-direction: row
		flex-wrap: wrap
		margin: 25px 0px
		text-align: left
		&-2
			flex-direction: row-reverse
			text-align: right
		img
			display: inline
			max-width: 555px
			width: 98%
			//padding-left: 5px	
		&__text
			p
				font-size: 16px
				+MontR
				color: $color-white
				letter-spacing: 1.2px
			h2
				+MontB
  		letter-spacing: 2px
				margin-bottom: 30px

////I			Блок характеристик усилителя JHL 1969
////I		 Родитель .jhl
////I		
.jhl
	height: 450px
	background-attachment: fixed
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/jhl1969.jpg')
	&-block
		background-color: rgba(34, 34, 34, 0.7);
		width: 100%
		max-width: 500px
		height: 350px
		margin: 50px auto 0px auto

	&-title
		text-align: center
		padding-top: 20px
		+MontB()
		color: $color-white
	&-item
		padding: 30px
		+MontR()
		color: $color-white
		letter-spacing: 1.2px
		font-size: 16px



////I			Блок покупки усилителя JHL 1969
////I		 Родитель .jhlpay
////I		

.jhlpay
	height: 500px
	&-title
		h2
			font-size: 32px
			+MontB
			color: $color-black
			line-height: 2.47
			margin-top: 30px 
	&-flex
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: center
		margin-top: 50px
		+MontR
		color: $color-text__light
		img
			max-width: 400px
			width: 100%
			margin-bottom: 20px
		h2
			font-size: 32px
		p
			line-height: 1.5
			letter-spacing: 1px
		h3
			text-align: left
			+MontR
			margin: 20px 0 40px 0px
		span
			font-weight: 600
		&__button
			display: flex
			justify-content: space-around
			flex-wrap: wrap
			margin-bottom: 50px
			outline: none !important
		button
			text-align: center
			width: 230px
			height: 50px
			border: 2px solid $color-text__light
			
.acoustics
	background-color: $color-black
	min-height: 1000px
	width: 100%
			






	

	





















@media only screen and (min-width: 1025px)
	.advantaged-item__text
		margin-top: 80px

@media only screen and (max-width: 1023px)
	.advantaged-item__text
		p
			letter-spacing: 0.8px
	.header-title p
		font-size: 52px

@media only screen and (max-width: 767px)
	.advantaged-item__text
		text-align: left

@media only screen and (max-width: 426px)
	.header
		max-height: 450px
	.header-title p
		font-size: 28px
	.header-title 
		line-height: 35px
		margin-top: 45px
	.header-btn button
		margin: 0 auto
		display: block
		font-size: 14px
	.information-title
		font-size: 24px
	.information-text
		margin-top: 10px
		text-align: left
		font-size: 16px
	.advantaged
		padding-bottom: 15px
	.advantaged-item
			margin: 20px 0px
	.advantaged-title
		text-align: left
		font-size: 24px
		line-height: 30px
	.advantaged-item__text
		margin-top: 5px
		h2
			font-size: 20px
			margin-bottom: 10px
	.jhlpay-flex__button
		flex-direction: column
		button
			margin: 20px auto 0px auto
	.jhlpay-title
		h2
			font-size: 28px
			margin-bottom: 0
	.jhlpay-flex
		h2
			font-size: 28px
		p
			margin-bottom: 20px
		h3
			text-align: center
			margin: 15px 0
